body {
    background-color: #000;
    color: #00eaff;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
}
.big-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}
.login-box {
    background-color: #101820;
    padding: 20px;
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 10px;
    margin-top:10px;
    background:#1c2733;
    border:1px solid #00eaff;
    border-radius:6px;
    color:white;
}
.btn {
    margin-top: 15px;
    width: 100%;
    background-color: #00eaff;
    color: #000;
    font-weight: bold;
    padding: 12px;
    border:none;
    cursor:pointer;
    border-radius:6px;
}
.btn:hover {
    opacity:.8;
}
.stats {
    display:flex;
    gap:12px;
    margin:25px 0;
}
.stat-card {
    flex:1;
    padding:15px;
    background:#101820;
    border-radius:8px;
    text-align:center;
}
.stat-card.green strong{
    color:#00ff55;
}
.red {
    background:#ff0055 !important;
    color:white !important;
}
