/* === ESTILO DO SISTEMA ALPHA JOURNAL === */

body {
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    margin: 0;
}

/* Container das telas de login/cadastro */
.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa de autenticação */
.auth-card {
    background-color: #101820;
    padding: 30px;
    width: 330px;
    border-radius: 12px;
    box-shadow: 0 0 12px #00eaff;
    text-align: center;
}

.auth-card h2 {
    color: #00eaff;
    margin-bottom: 20px;
}

/* Inputs */
.auth-card input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background-color: #141e26;
    border: 1px solid #00eaff;
    border-radius: 6px;
    color: #ffffff;
}

/* Botões */
.auth-card button {
    margin-top: 20px;
    width: 100%;
    background-color: #00eaff;
    color: #000;
    padding: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

.auth-card button:hover {
    background-color: #0099aa;
    color: white;
}

/* Link */
.auth-link {
    margin-top: 15px;
}

.auth-link a {
    color: #00eaff;
    text-decoration: none;
    font-weight: bold;
}

/* DASHBOARD */
.dashboard-container {
    padding: 25px;
}

h1 {
    color: #00eaff;
    text-align: center;
}

.btn-primary {
    background-color: #00eaff;
    display: inline-block;
    color: #000;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: #0099aa;
    color: white;
}
